@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {
box-sizing: border-box;
-moz-box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 6em;	
}
p{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	width:15px;
	height: 15px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.2);
	-webkit-border-radius: 15px; 
            border-radius: 15px; 

}
#menu li.active{
	background:#666;
		background: rgba(255,255,255, 0.6);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	right:0;
	
	bottom:0;
	margin: auto;
	height: 300px;
	z-index: 70;
	width: 50px;
	padding: 0;

}

#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

#section0{
	position:relative;
	background-color:lighten(#000, 10%);
	color:whitesmoke;
	h1 {
		color:whitesmoke;
	}
}
.section0-content{
	position:absolute;
	left:10%;
	bottom:0;
	padding:10px;
	height:300px;
	p{
		text-align:left;
	}

}
#section1{
	background-color:lighten(#000, 10%);
	transition: all 4s;
}
#section1.active{
	background-color: #fff;
	transition: all 4s;
}
.section1-content{

}

/* CONTRAST */
#section2{
	background-color:smokewhite;
	transition: all 4s;
	background-color:#00A79D;;
}
.section2-content{
	position: absolute;
	float:left;
	width:900px;
	height:600px;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	z-index:100;
}
.lines {
	z-index:5;
	border-left: dashed 4px #fff;
	border-bottom:dashed 4px #fff;
	border-right :dashed 4px #fff;
	height:300px;
	width:605px;
	margin: auto;
	position: absolute;
	top:0;right:0;bottom:0;left:0;
}
.onethird{
	width:250px;
	height:250px;
	float:left;
	margin: 25px;
	font-size:8px;
	text-align:left;
}
.onethird p{
	padding: 30px;
}
.border{
	border: dashed 4px #fff;
}
.solid {
	background-color: #fff;
	color:#fff;
}
.onethird:nth-child(1){
	font-size:13px;
	padding-top:80px;
	color:#00A79D;
	text-align: center;
}
.onethird:nth-child(3){
	text-align:center;
	padding-top:85px;
	color:#fff;
	background-color: #00A79D;
}
.onethird:nth-child(4){

	padding-top:70px;
	color:#fff;
	background-color: #00A79D;
}
.onethird:nth-child(6){
	
	padding-top:60px;
	color:#00A79D;
}

/* COLOR */
.section3-content{
	position: absolute;
	float:left;
	width:900px;
	height:500px;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	z-index:100;
	p{
		padding-top:10px;
		color:#fff;
	}
}
.hex:nth-child(odd){
	margin-left:60px;

}
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
    left:0;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
    display:block;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    left:0;
}

.hex:nth-child(1){
	background-color: lighten(red, 20%);
	&:after{
		border-top: 30px solid lighten(red, 20%);
	}
	&:before{
		border-bottom: 30px solid lighten(red, 20%);
	}
}

.hex:nth-child(2){
	background-color: lighten(purple, 20%);
	&:after{
		border-top: 30px solid lighten(purple, 20%);
	}
	&:before{
		border-bottom: 30px solid lighten(purple, 20%);
	}
}

.hex:nth-child(3){
	background-color: darken(yellow, 5%);
	&:after{
		border-top: 30px solid darken(yellow, 5%);
	}
	&:before{
		border-bottom: 30px solid darken(yellow, 5%);
	}
}

.hex:nth-child(4){
	background-color: lighten(blue, 30%);
	&:after{
		border-top: 30px solid lighten(blue,30%);
	}
	&:before{
		border-bottom: 30px solid lighten(blue,30%);
	}
}

.giant-hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 180px solid #6C6;
    border-left: 312px solid transparent;
    border-right:312px solid transparent;
    position: absolute;
    top: -180px;
    left:0;
}

.giant-hex {
    margin-top: -400px;
    
    width: 624px;
    height: 360px;
    background-color: #6C6;
    position: absolute;
    display:block;
    left: 30%;
}

.giant-hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -180px;
    border-top: 180px solid #6C6;
    border-left: 312px solid transparent;
    border-right: 312px solid transparent;
    left:0;
}

.inner-giant-hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 180px solid #fff;
    border-left: 312px solid transparent;
    border-right:312px solid transparent;
    position: absolute;
    top: -180px;
    left:0;
}

.inner-giant-hex {
	z-index:100;
  	left:0;
    width: 624px;
    height: 360px;
    background-color: #fff;
 	position: absolute;
 	-webkit-transform: scale(.98,.98);
   
   
}

.inner-giant-hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -180px;
    border-top: 180px solid #fff;
    border-left: 312px solid transparent;
    border-right: 312px solid transparent;
    left:0;
}
